.row
  .text-center
    .show-for-small-only
      %iframe{allowfullscreen: '', frameborder: '0', height: '250', src: 'https://www.google.com/maps/d/u/0/embed?mid=1BPfde_FV4N66M55oLmQlb0e85kc&ll=10.542683--85.697412&z=8', width: '380'}
    .show-for-medium-only
      %iframe{allowfullscreen: '', frameborder: '0', height: '315', src: 'https://www.google.com/maps/d/u/0/embed?mid=1BPfde_FV4N66M55oLmQlb0e85kc&ll=10.542683--85.697412&z=8', width: '700'}
    .show-for-large
      %iframe{allowfullscreen: '', frameborder: '0', height: '500', src: 'https://www.google.com/maps/d/u/0/embed?mid=1BPfde_FV4N66M55oLmQlb0e85kc&ll=10.542683--85.697412&z=8', width: '1050'}
.callout.secondary
  %h6.text-center
    %b= link_to 'Sign up now', new_user_registration_path
    %b and you can always RSVP later if you need more information. If your plans change, you can also un-RSVP by updating your profile to let us know you can't go. Guests can be added to your party after you sign up.
.row
  .large-12.large-centered.columns
    %ul.accordion{'data-accordion' => ''}
      %li.accordion-item{'data-accordion-item' => ''}
        %a.accordion-title{href: '#'}
          Wedding Party
        .accordion-content{'data-tab-content' => ''}
          %table
            %tr
              %td
                %b Bride
              %td Heather Carmitchel
            %tr
              %td
                %b Groom
              %td Matthew Boveri
            %tr
              %td
                %b Best Man
              %td Philip Brubaker
            %tr
              %td
                %b Man of Honor
              %td Adam Wieber
            %tr
              %td
                %b Officiant
              %td Kaelyn Sanchez
            %tr
              %td
                %b Groomsman
              %td Alex Baruth
            %tr
              %td
                %b Bridesmaid
              %td Emily Brubaker
            %tr
              %td
                %b Groomsman
              %td Josh Noeldner
            %tr
              %td
                %b Bridesmaid
              %td Jennifer Blank
      %li.accordion-item{'data-accordion-item' => ''}
        %a.accordion-title{href: '#'}
          Registries
        .accordion-content{'data-tab-content' => ''}
          %p
            As this is a destination wedding and there are limitations in what we can take back with us, we would appreciate anyone who would like to give us a wedding present send it to the following address:
          %p.text-center <b>Matt and Heather Boveri<br/>6946 Oakview Street<br/>Shawnee, KS 66216</b>
          %ul
            %li
              %a{href: 'https://www.amazon.com/wedding/registry/U975U00FSH3N'} Amazon
            %li
              %a{href: 'https://bedbathbeyond.com'} Bed Bath, & Beyond
            %li
              %a{href: 'http://www.target.com/gift-registry/registry/tqVAnOA2s9nsFTrun3MfQQ?lnk=copiedLink'} Target
      %li.accordion-item{'data-accordion-item' => ''}
        %a.accordion-title{href: '#'}
          Hotels
        .accordion-content{'data-tab-content' => ''}
          %p
            There are a number of good hotel options in Costa Rica, and to avoid limiting everyone's options to one hotel we have a few recommendations. If you are interested in a home or condo rental, the area we are staying in has many options <a href=''>available</a> in the area. If you would prefer a hotel experience, here are the onces we suggest with approximate pricing:
          %ul
            %li
              %b <a href='http://www.cocobeachcr.com/index.php?lang=en'>Coco Beach Hotel</a> - $
              %p
            %li
              %b <a href='http://www.bosquedelmar.com/'>Bosque Del Mar</a> - $$
              %p
            %li
              %b <a href='https://papagayo.andaz.hyatt.com/en/hotel/home.html'>Hiatt</a> - $$$
              %p
      %li.accordion-item{'data-accordion-item' => ''}
        %a.accordion-title{href: '#'}
          Communications
        .accordion-content{'data-tab-content' => ''}
          %p
            Unless you have international data you will want to consider getting a prepaid phone. On our trips to Costa Rica we have done without, but we were with people who had been there before. This <a href='http://costa-rica-guide.com/practical/sim-card-local-phone/'>website</a> has some good information about where you can find one and what options you have. This cost is ~$20-30. We also recommend you use a VOIP service such as Google Voice or Viber to allow you to call using wifi as a free alternative. For the wedding, Matt and I will have a prepaid phone and the number can be found on our <a href='#contact'>Contact Us</a> page.
